
<% include partials/header %>

<div class = "container">
<h1> <%= title %> </h1>
<form method = "POST" action = "/users/add" >
<table>
<thead>
<tr>
<td>Name</td>
<td>Email</td>
<td>Date of birth</td>
<td>Department</td>
<td>Gender</td>
<td>Age</td>
</tr>
</thead>
<tr>
<td>

<input type="text" name = "firstname" class = "form-control" placeholder = "name"> 
</td>
<td>

<input type="text" name = "email" class = "form-control" placeholder = "email">
</td>
<td>

<input type="date" name = "dob" class = "form-control dob" id ="date" >
                
</td>
<td>

<input type="text" name = "department" class = "form-control" placeholder = "department">
</td>
<td>
<select name="gender" id="gender">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
</td>

<td>

<input type="number" name = "age" class = "form-control" placeholder = "age"  id = 'age' readonly> 
</td>

<td>
<input type="submit" value = "submit" class = "form-control btn btn-primary">
</td>
</tr>
</table>
</form>

<div ng-app = "test" ng-controller = "testCtrl" ng-init="editMode = false" >
<table class = "table table-responsive">
 <% users.forEach(function(user,key){ %>

   <tr> <td> <span class = "fixed"> <%= user.name %>  </span>
   <input  class="name form-control editable"  type = "text" data-id = "<%= user._id %>" value ="<%= user.name %>"/>
   </td>
   
   <td> <span class = "fixed"> <%= user.email %>  </span>
   <input  class= "email form-control editable"  type = "text" data-id = "<%= user._id %>" value ="<%= user.email %>"/>
   </td>

   <td> <span class = "fixed"> <%= user.dob %>  </span>
   <input  class= "dob form-control editable"  type = "date" data-id = "<%= user._id %>" value ="<%= user.dob %>"/>
   </td>

   <td> <span class = "fixed"> <%= user.department %>  </span>
   <input  class= "department form-control editable"  type = "text" data-id = "<%= user._id %>" value ="<%= user.department %>"/>
   </td>

   <td> <span class = "fixed"> <%= user.gender %>  </span>
   <select class= "gender form-control editable"  type = "text" data-id = "<%= user._id %>" value ="<%= user.gender %>">
   <option value="Male">Male</option>
   <option value="Female">Female</option>
   </select>
   </td>

   <td> <span class = "fixed"> <%= user.age %>  </span>
   <input  class= "age form-control editable" id = "age" type = "number" data-id = "<%= user._id %>" value ="<%= user.age %>" readonly/>
   </td>
   <td>
   <a href = "#" data-id = "<%= user._id %>"  class ="deleteUser btn btn-danger" ng-click="deleteUser($event)">Delete</a>
   <a href = "#" data-id = "<%= user._id %>"  ng-click="editMode = true" class = "editUser btn btn-info fixed" >Edit</a>
   <a href = "#" data-id = "<%= user._id %>"  ng-click=" editMode = false;"  class ="updateUser  btn btn-success editable">Update</a>
   </td>
   </tr>
    
<%})%> 
</table>

</div>
</div>
<% include partials/footer %>
